@import "../../../css-config/mixins.scss";

.shop-category {
    margin: 15px auto;
    width: 100%;
    .categories {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap;
        gap: 10px;
        padding: 10px;
        @include md {
            flex-flow: unset;
        }
        .category {
        img {
            width: 120px;
            border-radius: 5px;
            transition: all ease 0.3s;
            cursor: pointer;
            @include sm {
                width: 110px;
            }
            @include md {
                width: 180px;
            }
        }
        &:hover {
            img {
                @include sm {
                    transform: scale(1.2);
                }
            }
        }
      }
    }
}