.cart-products {
    flex-grow: 1;
    .cart-product {
        padding: 20px 15px;
        display: flex;
        gap: 10px;
        .img-container {
            background-color: rgba(0,0,0,0.05);
            width: 60px;
            height: 60px;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            img {
                width: 90%;
                height: 90%;
            }
        }
        .prod-details {
            overflow: hidden;
            position: relative;
            .name {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 10px;
                padding-right: 25px;
                display: block;
            }
            svg {
                position: absolute;
                right: 0;
                top: 2px;
                cursor: pointer;
            }
            .quantity-container {
                width: 'moz-fit-content';
                display: flex;
                align-items: center;
                span {
                    text-align: center;
                    padding: 0 5px;
                    background-color: rgba(0,0,0,0.05);
                    border: 1px solid #6b6b6b;
                    &:nth-child(1) {
                        border-right: 1px solid #6b6b6b;
                        cursor: pointer;
                        font-size: 20px;
                    }
                    &:nth-child(3) {
                        border-left: 1px solid #6b6b6b;
                        font-size: 20px;
                        cursor: pointer;
                    }
                    &:nth-child(2) {
                        width: 35px;
                        font-size: 15px;
                    }
                }
            }
            .text {
                display: flex;
                align-items: center;
                margin-top: 15px;
                span {
                    font-size: 15px;
                    padding: 2px 4px;
                    &:nth-child(3) {
                        color: #490684;
                    }
                }
            }
        }
        &:hover {
        background-color: rgba(0,0,0,0.05);
        }
    }
}